<p>We heard that you lost your Memoit password. Sorry about that!</p>
<p>But don't worry! You can use the following link within the next day to reset your password:</p>
<p><a href="<%= @password_reset_url %>"><%= @password_reset_url %></a></p>
<p>Thanks,</p>
<p>Your friends at GitHub</p>
